// Fonts
// @import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


.homepage{
    background-image: linear-gradient(to right, #004e92, #4e4376);
    margin: 0;
    padding: 0;
    text-align: center;
    background-size: cover;
    font-family: Arial;
    width: auto;
    height:656px;
    margin-top: -20px;

}


.Tanjir {
    text-align: center;
    margin-top: 100px;
    background-color: White;
    font-size: larger;
    padding: 10px;
    background-color: transparent;

}

.part1  , .part2 , .part3{
    color: white;
    text-align: center;
    background-image: linear-gradient(to right, #141e30, #243b55);
    margin-bottom: 5px;
    padding: 5px;
    border-radius: 8px;
    margin: auto;
    margin-bottom: 30px;
    width: 50%;

}

.part1 , .part2, .part3 :hover {

    cursor: pointer;
}


.Tanjir h2 {
    color: white;
    font-family: sans-serif;
    font-weight: bolder;
    line-height: 65px;
    text-decoration: none;
}
.Tanjir a{
    text-decoration: none;
}

.Tanjir h2:hover {
    color: #5b86e5;
}

.part1 , .part2 , .part3 h3 {
    color: white;
    color: #5b86e5;
    padding: 20px;
    text-decoration: none;
}

.Tanjir h5 {
    color: white;
    line-height: 35px;
    margin-bottom: 15px;

}

.Tanjir h5:hover {
    color: #5b86e5;
}


.reg-bar a {

    color: white;
    padding-left: 30px;
    text-decoration: none;

}

.reg-bar {
    margin-left: 900px;
    margin-top: 20px;
    padding-top:40px ;
    padding-left: 20px;
}

//Cooking-section

   .heading-section {
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-weight: bolder;
        position: relative;

    }

    .heading-title {
        font-size: xx-large;
    }

    .hero-area img {

        width: 100%;
        margin-top: -50px;
        height: 500px;

        object-fit: cover;
    }

    .hero-area {
        margin-top: -40px;

    }

    .heading-title a {
        color: White;
        text-decoration: none;
        text-shadow: 2px 8px 6px rgba(190, 122, 245, 0.2), 0px -5px 35px rgba(255, 255, 255, 0.3)
    }

    .heading-title a:hover {
        color: rgb(224, 82, 82);
        cursor: pointer;
    }

    .heading-option a,
    .aside-option a {

        color: white;
        padding-left: 20px;
        text-decoration: none;
        font-size: 14px;
        text-shadow: 2px 8px 6px rgba(190, 122, 245, 0.2), 0px -5px 35px rgba(255, 255, 255, 0.3)
    }

    .heading-option a:hover,
    .aside-option a:hover {
        color: rgb(224, 82, 82);
        text-transform: uppercase;

    }

    .heading-option,
    .aside-option {
        margin-top: 12px;

    }

    .T-recipes a {
        font-family: Georgia, 'Times New Roman', Times, serif;
        color: rgb(224, 82, 82);
        text-transform: uppercase;
        text-decoration: none;
        font-size: 14px;

    }

    .T-view a {
        font-family: Georgia, 'Times New Roman', Times, serif;
        color: rgb(224, 82, 82);
        text-decoration: none;
        font-size: 14px;

    }

    #arrow {
        margin-left: 5px;

    }

    .menu-title,
    .menu-author {
        width: 120px;
        text-align: center;
        padding-left: 30px;
        color: #888;
        font-size: 10px;
    }

    .menu-box {
        background-color: rgb(253, 250, 250);
        box-shadow: rgba(0, 0, 0, 0.35) 0px 3px 10px;
        margin: 1% 1%;
        border-radius: 10px;
        margin-bottom: 40px;
    }

    .py-5 {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .menu-image img {

        width: 189.8px;
        margin-left: -15px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    /* .Newest-section{
        border-bottom: 10px solid #888;
        margin-bottom: 40px;

    } */
    .Trending-section {
        border-bottom: 10px solid #888;
        /* margin-bottom: 40px; */

    }

    .menu-author:hover,
    .menu-title:hover {
        color: rgb(224, 82, 82);
    }
    .menu-ratings{
        text-align: center;
    }
//footer
    .site-footer {
        background-color: #26272b;
        padding: 45px 0 20px;
        font-size: 15px;
        line-height: 24px;
        color: #737373;
    }

    .site-footer hr {
        border-top-color: #bbb;
        opacity: 0.5
    }

    .site-footer hr.small {
        margin: 20px 0
    }

    .site-footer h6 {
        color: #fff;
        font-size: 16px;
        text-transform: uppercase;
        margin-top: 5px;
        letter-spacing: 2px
    }

    .site-footer a {
        color: #737373;
    }

    .site-footer a:hover {
        color: #3366cc;
        text-decoration: none;
    }

    .footer-links {
        padding-left: 0;
        list-style: none
    }

    .footer-links li {
        display: block
    }

    .footer-links a {
        color: #737373
    }

    .footer-links a:active,
    .footer-links a:focus,
    .footer-links a:hover {
        color: #3366cc;
        text-decoration: none;
    }

    .footer-links.inline li {
        display: inline-block
    }

    .site-footer .social-icons {
        text-align: right
    }

    .site-footer .social-icons a {
        width: 40px;
        height: 40px;
        line-height: 40px;
        margin-left: 6px;
        margin-right: 0;
        border-radius: 100%;
        background-color: #33353d
    }

    .copyright-text {
        margin: 0
    }

    @media (max-width:991px) {
        .site-footer [class^=col-] {
            margin-bottom: 30px
        }
    }

    @media (max-width:767px) {
        .site-footer {
            padding-bottom: 0
        }

        .site-footer .copyright-text,
        .site-footer .social-icons {
            text-align: center
        }
    }

    .social-icons {
        padding-left: 0;
        margin-bottom: 0;
        list-style: none
    }

    .social-icons li {
        display: inline-block;
        margin-bottom: 4px
    }

    .social-icons li.title {
        margin-right: 15px;
        text-transform: uppercase;
        color: #96a2b2;
        font-weight: 700;
        font-size: 13px
    }

    .social-icons a {
        background-color: #eceeef;
        color: #818a91;
        font-size: 16px;
        display: inline-block;
        line-height: 44px;
        width: 44px;
        height: 44px;
        text-align: center;
        margin-right: 8px;
        border-radius: 100%;
        -webkit-transition: all .2s linear;
        -o-transition: all .2s linear;
        transition: all .2s linear
    }

    .social-icons a:active,
    .social-icons a:focus,
    .social-icons a:hover {
        color: #fff;
        background-color: #29aafe
    }

    .social-icons.size-sm a {
        line-height: 34px;
        height: 34px;
        width: 34px;
        font-size: 14px
    }

    .social-icons a.facebook:hover {
        background-color: #3b5998
    }

    .social-icons a.twitter:hover {
        background-color: #00aced
    }

    .social-icons a.linkedin:hover {
        background-color: #007bb6
    }

    .social-icons a.dribbble:hover {
        background-color: #ea4c89
    }

    @media (max-width:767px) {
        .social-icons li.title {
            display: block;
            margin-right: 0;
            font-weight: 600
        }
    }


    /* search */
    .gredient-image {
        background-image: linear-gradient(to right, rgb(97, 97, 184), aqua);
        height: 100px;
        text-align: center;
        opacity: 0.8;
        border: none;
        width: 1300px;

    }

    .search-bar input {
        width: 300px;
        padding: 5px;
    }

    .search-bar button {
        width: 40px;
        padding: 5px;
        margin-top: 0px;

    }

    .search-bar h2 {
        line-height: 50px;
    }

//recipedetails

